/packages/*
/ElectorateTest/bin/Debug/*.dll
/ElectorateTest/bin/Debug/*.pdb
/ElectorateTest/bin/Debug/*.exe
/ElectorateTest/bin/Debug/*.xml
/ElectorateTest/obj/Debug/*.cache
/ElectorateTest/obj/Debug/*.txt
/.vs/Electorate/DesignTimeBuild/*.dtbcache
/.vs/Electorate/v15/*.suo
/.vs/Electorate/v15/Server/sqlite3/*.ide
/.vs/Electorate/v15/Server/sqlite3/*.ide-shm
/.vs/Electorate/v15/Server/sqlite3/*.ide-wal
/Electorate/bin/Debug/*.dll
/Electorate/bin/Debug/*.pdb
/Electorate/bin/Debug/*.xml
/Electorate/obj/Debug/*.cache
/Electorate/obj/Debug/*.txt
/Electorate/obj/Debug/*.dll
/Electorate/obj/Debug/*.pdb
/ElectorateTest/obj/Debug/*.exe
/ElectorateTest/obj/Debug/*.pdb
/ElectorateWeb/bin/Debug/netcoreapp2.0/*.dll
/ElectorateWeb/bin/Debug/netcoreapp2.0/*.pdb
/ElectorateWeb/bin/Debug/netcoreapp2.0/*.xml
/ElectorateWeb/bin/Debug/netcoreapp2.0/*.config
/ElectorateWeb/bin/Debug/netcoreapp2.0/*.json
/ElectorateWeb/bin/Debug/netcoreapp2.0/native/linux-x64/*.so
/ElectorateWeb/bin/Debug/netcoreapp2.0/native/osx-x64/*.dylib
/ElectorateWeb/bin/Debug/netcoreapp2.0/native/win-x64/*.dll
/ElectorateWeb/bin/Debug/netcoreapp2.0/native/win-x86/*.dll
/ElectorateWeb/obj/Debug/netcoreapp2.0/*.cs
/ElectorateWeb/obj/Debug/netcoreapp2.0/*.cache
/ElectorateWeb/obj/Debug/netcoreapp2.0/*.CopyComplete
/ElectorateWeb/obj/Debug/netcoreapp2.0/*.txt
/ElectorateWeb/obj/Debug/netcoreapp2.0/*.dll
/ElectorateWeb/obj/Debug/netcoreapp2.0/*.pdb
/ElectorateWeb/obj/*.cache
/ElectorateWeb/obj/*.props
/ElectorateWeb/obj/*.targets
/ElectorateWeb/wwwroot/*.js
/ElectorateWeb/wwwroot/*.map
/Electorate/bin/Debug/native/linux-x64/*.so
/Electorate/bin/Debug/native/win-x64/*.dll
*.dll
*.dylib
*.cache
*.props
*.xml
*.targets
*.pdb
Debug
Release
PublishProfiles
ElectorateWeb.csproj.user
