.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
    width: 100%;
  }


.example-card {
  max-width: 400px;
}

.example-toolbar {
  flex-direction: column-reverse;
}

.app-spacer {
  flex: 1 1 auto;
}
