<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>Add new organisation </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Name" autocomplete="false" name="firstName" [(ngModel)]="organisation.name" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Address" autocomplete="false" name="Address" [(ngModel)]="organisation.address" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="RegistrationNo" autocomplete="false" name="RegistrationNo" [(ngModel)]="organisation.registrationNo" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Funding options" autocomplete="false" disableRipple name="funding" [(ngModel)]="organisation.funding">
            <mat-option value="0">None</mat-option>
            <mat-option value="1">SystemFunded</mat-option>
            <mat-option value="2">SelfFunded</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="example-toolbar">
      <span class="app-spacer"></span>
      <button color="primary" [disabled]="!heroForm.form.valid" type="submit" mat-raised-button>Save</button>
      <a mat-raised-button color="primary" routerLink="/organisastion" routerLinkActive="active">Cancel</a>
    </mat-card-actions>
  </mat-card>
</form>
