<form (ngSubmit)="onSubmit()" #frmForm="ngForm">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>Add Voter </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <div class="example-container">
        <mat-form-field>
          <mat-select placeholder="Select Organisation" autocomplete="false" [formControl]="organisationControl" [(ngModel)]="organisation" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let organisation of organisations" [value]="organisation">
              {{organisation.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="organisationControl.hasError('required')">Please select organisation</mat-error>
        </mat-form-field>
               

        <mat-form-field>
          <input matInput placeholder="Name" name="Name" autocomplete="false" [(ngModel)]="voter.name" [formControl]="nameControl" required>
          <mat-error *ngIf="nameControl.hasError('required')">Please enter name</mat-error>
        </mat-form-field>

      </div>

    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="example-toolbar">
      <span class="app-spacer"></span>
      <button  mat-raised-button color="primary" [disabled]="!frmForm.form.valid" type="submit" >Save</button>
      <a mat-raised-button color="primary" routerLink="/voter" routerLinkActive="active">Cancel</a>
    </mat-card-actions>
  </mat-card>
</form>
