<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net461" />
  <package id="HoshoEthUtil" version="0.1.24" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net461" />
  <package id="Nethereum.Portable" version="2.5.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net461" />
  <package id="SolcLib.Native" version="0.4.24.12" targetFramework="net461" />
  <package id="SolcNet" version="1.1.79" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
</packages>